{% load static %}
{% load bootstrap_icons %}

<div class="container-lista">
    <div class="lista">
        <h2>Editar query</h2>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table-filtro" align="center">
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Sistema</th>
                    <th>Módulo</th>
                </tr>
                <tr>
                    <td>{{form.nome}}</td>
                    <td>{{form.descricao}}</td>
                    <td>{{form.sistema}}</td>
                    <td>{{form.modulo}}</td>
                </tr>
            </table>
            <table class="table-filtro" align="center">
                <tr>
                    <td>{{form.query}}</td>
                </tr>
            </table>
            <button class="btn-primary" type="submit">Salvar</button>
        </form>

        <br>
        <div class="adicionar">
            <a href="{% url 'queries' %}">Retornar</a>
        </div>
    </div>


</div>
