{% load static %}
{% load bootstrap_icons %}

<div class="container-lista">
    <div class="lista">
        <h2>Detalhamento de query</h2>
        <table id="table-query">
            <tr>
	            <td>ID</td>
                <td>{{query.id}}</td>
            </tr>
            <tr>
	            <td>Nome</td>
                <td>{{query.nome}}</td>
            </tr>
            <tr>
	            <td>Sistema</td>
                <td>{{query.sistema}}</td>
            </tr>
        </table>
        <h3>Query</h3>
        <table id="exibe-query">
            <tr>
	            <td>{{query.query}}</td>
            </tr>
        </table>
        <br>
        <div class="adicionar">
            <a href="{% url 'queries' %}">Retornar</a>
        </div>
    </div>


</div>
